<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.ss.lookbook.lookbookMainMapper">
	
	<select id="selectLbMainAll" resultType="kr.co.ss.lookbook.domain.LbMainAllDomain">
		
		select distinct l.lb_posts_num, l.member_id, l.lb_title
		from lookbook l, lb_img i
		where l.lb_posts_num = i.lb_posts_num
		order by lb_posts_num desc
	
	</select>
	
	<select id="selectLbMyMainAll" resultType="kr.co.ss.lookbook.domain.LbMainAllDomain" parameterType="String">
		
		select distinct l.lb_posts_num, l.member_id, l.lb_title
		from lookbook l, lb_img i
		where l.lb_posts_num = i.lb_posts_num and l.member_id=#{member_id}
		order by lb_posts_num desc
	
	</select>
	
	 <select id="selectLbMainImg" resultType="String" parameterType="Integer">
		
		select img
		from lb_img
		where lb_posts_num = #{lb_posts_num} 
	
	</select> 
	
	
</mapper>
